* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0px;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-family: 'wenquanyi micro hei', Helvetica, 'microsoft yahei';
  background: url("../../../Common/images/bg/misty2.jpg") center center fixed;
}
#navbar {
  height: 80px;
  background: url("../../../Common/images/logo/banner.jpg") center;
}
#body {
  width: 1060px;
  margin: 0px auto;
  margin-top: 70px;
  position: relative;
}
#menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30%;
}
#menu span {
  cursor: pointer;
}
#player {
  position: absolute;
  left: 30%;
  top: 0px;
  width: 35%;
}
#info {
  position: absolute;
  left: 65%;
  top: 0px;
  width: 35%;
  padding-left: 5%;
}
#menu {
  padding: 0px 0px 0px 50px;
}
#menu #drop,
#menu #some {
  margin: 10px;
  line-height: 38px;
  max-width: 230px;
}
#menu #drop {
  max-height: 260px;
  height: 260px;
}
#menu #some {
  height: 140px;
  max-height: 140px;
}
.program {
  font-size: 16px;
  padding-left: 10px;
  opacity: 0.6;
}
.program:hover {
  background: #a37ab8;
  color: #fff;
  cursor: pointer;
}
.last {
  color: #adffff;
  font-weight: bold;
  opacity: 1;
}
#cover {
  width: 371px;
  background: #8b9ca7;
  height: 371px;
  border: 8px solid #fff;
  border: 8px solid rgba(255,255,255,0.4);
  box-shadow: 0px 0px 28px #3f7188;
}
#progress {
  margin: 20px auto;
  width: 86%;
  height: 6px;
  background: #8f9ba3;
  cursor: pointer;
  box-shadow: 0px 1px 0px rgba(230,230,230,0.5);
}
#progress #step {
  width: 5%;
  height: 100%;
  background: #adffff;
}
#dj-link {
  text-decoration: none;
  color: #fff;
}
#dj-info {
  margin-bottom: 20px;
}
#dj-info #dj-avatar {
  width: 40px;
  background: #8b9ca7;
  height: 40px;
  border: 2px solid #fff;
  border: 2px solid rgba(255,255,255,0.3);
  margin-right: 10px;
}
#dj-info #dj-name,
#dj-info img {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
#program-intro {
  color: #adcdeb;
}
#ctrl {
  margin-top: 10px;
  text-align: center;
  width: 94%;
}
#ctrl img {
  width: 30px;
  margin: 0px 15px;
}
#dj-intro {
  color: #d6e6f5;
  margin-bottom: 6px;
}
#list {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100%;
  box-shadow: 0px 0px 20px #1a1a1a;
  line-height: 30px;
  white-space: nowrap;
  background: url("../../../Common/images/bg/misty2.jpg") center;
}
#list #wrap-list {
  position: relative;
  height: 400px;
  margin: 100px 20px 0px;
}
#slide {
  position: absolute;
  padding: 10px 0px;
  top: 40%;
  left: 0px;
  width: 26px;
  height: 100px;
  background: #56394f;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  color: #999;
  border: 1px solid #705c5c;
  border-width: 1px 1px 1px 0px;
}
#sina img {
  border: none;
}
#forward,
#backward,
#toggle {
  cursor: pointer;
  opacity: 0.5;
}
#forward:hover,
#backward:hover,
#toggle:hover {
  opacity: 1;
}
.nano > .pane {
  background: #818198;
  background: rgba(0,0,0,0.25);
}
.nano .slider {
  background: #705c70;
  background: rgba(0,0,0,0.5);
}
