body {
	background-color:#abcdef;
	background-repeat:no-repeat;
	background-image:url("../images/teambg.jpg");
	font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,sans-serif;
	color:#fff;
	padding:60px;
}
.container {
	margin: 0 auto;
	width: 80%;
	padding: 40px;
	background:rgba(0,0,0,.8);
}

h1 {
	font-size: 35px;
}
p {
	color:rgba(255,255,255,.6)
}
li {
	color:rgba(255,255,255,.6)
}