 <include file="Public:header" />
  		<div class="container">
 		<h2>关于本网站</h2>
 		<p class="alert alert-success">本站的维护者为<a href="http://www.imsuzie.com/" target="_blank">酥西黄</a>,他要去实习了,所以这个网站版本更新的会很慢了.如果你愿意贡献代码，本项目托管于Github,地址在<a href="http://github.com/suziewong/news">这里</a>.</p>
 		<h2>本站使用说明</h2>
 		<div class="alert alert-info">
			<ol>
				<li>你可以选择匿名发布(鼓励匿名发布内幕消息，我们绝不记录任何信息.)</li>
				<li>你可以选择发布有用的网站链接，让大家分享你的发现.</li>
			</ol>
 		</div>
 	</div>
     </body>
     <style>
     	.alert {
     		margin-top: 20px;
     		border-radius:5px;
     		-webkit-border-radius:5px;
     	}
     	.alert li{
     		font-size: 16px;
     		line-height: 20px;
     	}
     </style>
</html>