   <include file="Public:header" />
        <!--导航条结束-->
        <!--文件列表-->
        <div class="container">
                <table class="table table-hover menu">
                    <tbody id="dir_table" >
                        <volist name="ContentList" id="Content" offset="$offset" length="$length">
                        <tr>
                            <td width=20px >{$Content.id}.</td>
                            <td width=12px><a href="#"><i class="icon-chevron-up"></i></a></td>
                            <td colspan="2"><a href="{$Content.link}" target="_blank">{$Content.title}</a><br />0 point by <if condition="$Content.anonymous eq 1">匿名<else />{$Content.username}</if>  {$Content.time} | discuss</td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
                   <div class="pagination-i">
                    {$page}
                </div>
            </div>
        </div>
        <!--文件列表结束-->

        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <p><font color="gray">
                Designed and built by  
                <a href="http://www.imsuzie.com">酥西黄</a></br>
                Powerd by 
                <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
                , and 
                <a href="http://thinkphp.cn">ThinkPHP</a></br>
               </br></br></font>
            </p>
            </div>
        </footer>
    </body>
</html>