<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>精弘网络团队</title>
		<link href="__PUBLIC__/Css/team.css" rel="stylesheet" media="screen">
	</head>
<body>
	<div class="container">
	<h1>精弘网络团队</h1>
	<p>你是想一辈子上网，还是想借此机会改变互联网？</p>
	<section>
		<h3>我们是谁?</h3>
			<p>精弘网络团队是一群90后组成的互联网团队.我们是一支有Geek精神的团队.</p>
			
		<h3>团队理念</h3>
			<ul>
			<li>在认同团队理念且能够给团队创造足够价值的基础上，为个人发展而工作.</li>
			<li>小事都做不好，无法做大事</li>
			</ul>
		<h3>团队成员</h3>
			<p>和比你厉害的人在一起，和一流的人工作</p>
			<p>我们的团队成员在毕业后大部分都直接进入国内一线互联网企业(腾讯,豆瓣,支付宝,淘宝).</p>
			<p>我们的成员活跃于杭州各大技术社区(HZLUG,HZGDG).</p>
		<h3>产品</h3>
			<p>我们开发好玩的，有趣的。</p>
	</section>
	<section>
		<h3>技能要求</h3>
		<p>聪明的人会根据要求自驱动学习,不聪明的,坐等别人手把手的人请绕行.</p>
		<ol>
			<li>熟悉Linux,Github等</li>
			<li>熟悉PHP,Python,Ruby,Javascript等</li>
			<li>对新技术有十足的好奇心,极度热爱web技术并且学得很快</li>
		</ol>
		<h3>邀请</h3>
		<p>如果想加入我们团队,请发送邮件到monkeysuzie[at]gmail.com 注意请提供以下:</p>
		<ol>
			<li>Github地址</li>
			<li>个人博客地址</li>
			<li>常去的网站or论坛</li>
		</ol>
		<a href="#" >返回首页</a>
</section>
</div>
</body>
</html>